<div class="row p-4 ">      
    <div class="card p-2 m-1 "  style="width:20rem;" *ngFor="for let i of product">
      <div class="card-img text-center"><img class="card-img-top " src="{{i.image}}" style="width:80%;" alt="Card image cap"></div>
      <div class="card-body">
        <h5 class="card-title">{{i.name}}</h5>
        <p class="card-text">i.description</p>
        <p class="card-text"><button class="btn border rounded-circle bg-primary" (click)="dec(i)"><i class="fa fa-minus text-light "></i></button><span class="text p-2">{{i.quan}}</span><button class="btn border rounded-circle bg-primary" (click)="inc(i)"><i class="fa fa-plus text-light"></i></button></p>
        <p class="card-text">{{i.price | currency : "INR"}}</p>
        <div class="buybtn w-50"><button class="btn bg-primary">Buy Now</button></div>
        <div class="rembtn w-50"><button class="btn bg-primary justify-content-right">Remove</button></div>
      </div>
    </div>
 </div>